/* Work sans font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: "Work Sans", serif;
}

/* shared items */
.btn-primary{
    background-color:#ff900E;
    height:64px;
    width:180px;
    border-radius:8px;
    font-size: 1rem; 
    font-weight: 500;
    border: 0;
    padding: 20px 25px;
    color: #ffff;
    cursor: pointer;
}
.section-title{
    color: #131313;
    font-weight: 700;
    font-size: 2.4rem;
}
.text-description{
    font-weight: 400;
    font-size: 1.12rem;
    margin-bottom: 30px;
    line-height: 26px;
    color: #727272;
    margin: 20px auto;
}   
/* header styles */

header{
    
    background-color: #FFF4E7;
    padding: 50px 240px;
    
}

.logo{
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul{
    display: flex;
}

nav li{
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
}

nav li a{
    text-decoration: none;
    color: #424242;
}

/* banner style */


.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
    margin-top: 50px;
    margin-bottom: 20px;
}

.banner-description{
    color: #727272;
    margin-bottom: 30px;
}

.banner img{
    margin-top: 40px;
    width: 100%;
}

/* Features section */

main{
    /* border: 1px solid black; */
    max-width: 1440px;
    margin: 0 auto;
}

.features-section{
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.4rem;
}
.team-content{
    padding-left: 70px;
    padding-right: 70px;
}
.team-title {
    font-size: 2.8rem;
    margin-bottom: 20px;
    margin-top: 40px;
}

.team-title .quick-list{
    color: #727272;
    font-weight: 400;   
}
.team-title .text-features{
    color: #FF900E;
}

/* Facts section */
.facts{
    margin-bottom: 50px;
}
.facts-card-container{
    display: flex;
    justify-content: space-around;
    
}
.facts-card-container .card{
    border-radius: 8px;
    border: solid 1px orange;
    text-align: center;
    padding: 30px;
}

.facts-card-container .cardtitle{
    font-weight: 600;
    color: #727272;
    font-size: 20px;
    margin-top: 5px;
}

.facts-card-container .card-stats{
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Responsive media quarry */

/* Mobile device */
@media screen and (max-width: 576px){
    header{
        padding: 20px;
    }

    nav, .features-section{
        flex-direction: column;
    }

    .team-img-container{
        grid-template-columns: 1fr;
    }

    .team-content{
        padding:20px;
    }
}

/* tablet devices */

@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 50px;
    }

    nav, .features-section{
        flex-direction: column;
    }
}